@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset and Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, Helvetica, Arial, sans-serif;
}

.logo img {
    width: 200px;
}


#overlay {
    display: none;
}

nav {
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 20px #FFD43B;
    padding: 0 20px;
}

.navbar ul {
    display: flex;
    gap: 25px;
    box-sizing: border-box;
    list-style: none;
    font-weight: bold;
    align-items: center;
    border: 2px solid white;
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 25px #f4b41a;
}

.navbar a,
li {
    text-decoration: none;
    color: black;
    transition: all .1s ease-in-out;
}

.navbar a:hover {
    color: #d14747;
    /* font-size: 18px; */
    text-decoration-line: underline;
    text-underline-offset: 20px;
}

#prayButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f4b41a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;

}

#prayButton:hover {
    box-shadow: 0px 0px 10px black;
    background-color: #d14747;

}

/* Flower Styles */
.flower {
    position: fixed;
    z-index: 1000;
    width: 32px;
    height: 32px;
    background-size: cover;
    animation: fall 10s linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

#active,
.open-sb,
.close-sb {
    display: none;
}

.main {

    padding: 30px;

}

section {
    height: 550px;
    width: 100%;
    background-image: url(prize3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section1 {
    background-image: linear-gradient(rgba(12, 3, 51, 0.5), rgba(12, 13, 51, 0.5));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.section1 h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.first,
.second,
.third,
.fourth {
    border-radius: 0px 30px;
    box-shadow: 0px 0px 10px black;
    background-color: #FFD43B;
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.part1,
.part2 {
    margin: 25px;
    background-color: white;
    height: 350px;
    width: 50%;
    border-radius: 0px 25px;

}

.first .part2,
.second .part1,
.third .part2,
.fourth .part1 {
    text-align: center;
    overflow: hidden;
    /* overflow-wrap: break-word; */
    box-shadow: 0px 0px 20px black;

}

.first .part2 h2,
.second .part1 h2,
.third .part2 h2,
.fourth .part1 h2 {
    /* padding-top: 5px; */
    padding-bottom: 5px;
    color: #f4b41a;
}

.first .part2 p,
.second .part1 p,
.third .part2 p,
.fourth .part1 p {
    color: gray;
    padding: 0px 20px;
}

.first .part1,
.second .part2,
.third .part1,
.fourth .part2 {
    background-color: #FFD43B;
}



.magazine h2 {
    text-align: center;
    padding: 20px;
}

.part1 a,
.part2 a {
    text-decoration: none;
    color: #200599;
    font-weight: bold;
}

.div1 {
    border-radius: 15px;
    height: 100%;
    background-size: 100% 100%;
    box-shadow: 0px 0px 15px black;
    animation: social 10s linear infinite;
}
.div2 {
    border-radius: 15px;
    height: 100%;
    background-size: 100% 100%;
    box-shadow: 0px 0px 15px black;
    animation: project 10s linear infinite;
}
.div3 {
    border-radius: 15px;
    height: 100%;
    background-size: 100% 100%;
    box-shadow: 0px 0px 15px black;
    animation: prize 10s linear infinite;
}
.div4 {
    border-radius: 15px;
    height: 100%;
    background-size: 100% 100%;
    box-shadow: 0px 0px 15px black;
    animation: cultural 10s linear infinite;
}

@keyframes social{
    0% {
        background-image: url(social1.jpg);
    }

    25% {
        background-image: url(social2.jpg);
    }

    50% {
        background-image: url(social3.jpg);
    }

    75% {
        background-image: url(social4.jpg);
    }

    100% {
        background-image: url(social6.jpg);
    }

}
@keyframes project {
    0% {
        background-image: url(project1.jpg);
    }

    25% {
        background-image: url(project2.jpg);
    }

    50% {
        background-image: url(project3.jpg);
    }

    75% {
        background-image: url(project4.jpg);
    }
    100% {
        background-image: url(project5.jpg);
    }


}
@keyframes prize {


    0% {
        background-image: url(prize2.jpg);
    }

    25% {
        background-image: url(prize3.jpg);
    }

    50% {
        background-image: url(prize4.jpg);
    }
    75% {
        background-image: url(prize5.jpg);
    }
    100% {
        background-image: url(prize6.jpg);
    }


}
@keyframes cultural {
    0% {
        background-image: url(dance1.jpg);
    }

    25% {
        background-image: url(dance2.jpg);
    }

    50% {
        background-image: url(dance3.jpg);
    }


    75% {
        background-image: url(dance5.jpg);
    }
    100% {
        background-image: url(dance6.jpg);
    }

}


.footer {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-align: center;

}

.socialMedia a {
    color: white;
}

.rights {
    font-size: px;
    color: white;
}

@media (max-width: 900px) {
    .logo img {
        width: 180px;
    }

    nav {
        position: relative;
        justify-content: space-between;
    }

    #prayButton {
        padding: 8px 15px;
        font-size: 16px;
    }

    .open-sb {
        display: block;
        cursor: pointer;

    }

    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        max-width: 300px;
        background: #FFD43B;
        box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        z-index: 10;
        transition: 0.75s ease-out;
    }

    .navbar ul {
        flex-direction: column;
        gap: 25px;
        padding: 0;
        box-shadow: none;
        border: none;
    }

    .navbar a {
        color: black;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .open-sb {
        font-size: 2rem;
        /* Increases the size of the icon */
        padding: 10px;
        /* Adds some clickable padding around the icon */
    }

    .open-sb i {
        font-size: 1.8rem;
        /* Adjust the icon size specifically */
        /* padding-bottom: 30px; */

    }

    #active:checked~.navbar {
        right: 0;
    }

    #active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: block;
    }



    .section1 {
        height: 200px;
    }

    .section1 h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }


    section {
        height: 25%;
        width: 100%;
        background-image: url(prize3.jpg);
        background-size: contain;
        /* background-position-y: 5px; */
    }
        .main{
        padding: 20px;
    }
    
    .first,
    .second,
    .third,
    .fourth {
        box-shadow:0px 0px 20px black;
        display: block;
        padding: 10px;
    }
    .first .part2,
.second .part1,
.third .part2,
.fourth .part1 {
    font-size: 9px;
    margin-bottom: 15px;
}

    .part1,
    .part2 {
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    .first .part1,
.second .part2,
.third .part1,
.fourth .part2{
    padding: 0px;
    height: 165px;
    margin-bottom: 15px;
}

    .footer {

        height: 110px;
        display: block;

    }

    .socialMedia {
        padding-top: 20px;

    }

    .rights {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
